[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "elaborator"]
	path = elaborator
	url = https://github.com/cran/elaborator
	shallow = true
	registered = true
